<!DOCTYPE html>
<html lang="en">
	<head>
		<!-- mobile settings -->
		<meta name="viewport" content="width=device-width, maximum-scale=1, initial-scale=1, user-scalable=0"/>
		<meta charset="utf-8" />

		<title>Rocket Elevators</title>
		<meta name="description" content=" Rocket Elevators make professional elevators quebec canada" />
		<meta name="Author" content="Saad Eddine FEKI [CodeBoxx]" />

		<!-- RAILS CSS/JS -->
		<%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload'%>

		<!-- WEB FONTS : use %7C instead of | (pipe) -->
		<link
			href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600%7CRaleway:300,400,500,600,700%7CLato:300,400,400italic,600,700"
			rel="stylesheet"
			type="text/css"
		/>
		<!-- Rocket elevators Favicon -->
		<link rel="stylesheet"
			href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css"
			integrity="sha512-1PKOgIY59xJ8Co8+NE6FZ+LOAZKjy+KY8iq0G4B3CyeY6wYHN3yt9PW0XpSriVlkMXe40PTKnXrLnZ9+fkDaog=="
			crossorigin="anonymous" />
		<link rel="icon"
			type="image/png"
			href="<%= asset_path( 'favicon-16x16.png' ) %>" />
	</head>

<body class="smoothscroll enable-animation">
		<!-- /SLIDE TOP -->
		<!-- wrapper -->
		<div id="wrapper">
			<div id="header" class="navbar-toggleable-md 	shadow-after-1 sticky header-md clearfix">
				<!-- TOP NAV -->
				<header id="topNav">
					<div class="container">
						<!-- Mobile Menu Button -->
						<button
							class="btn btn-mobile"
							data-toggle="collapse"
							data-target=".nav-main-collapse"
						>
							<i class="fa fa-bars"></i>
						</button>

						<!-- Logo -->
						<a class="logo float-left scrollTo" href="#top">
							<img src="<%= asset_path( 'logo-inc.png' ) %>">								
						</a>

						<!-- Top Nav -->
						<div
							class="navbar-collapse collapse float-right nav-main-collapse submenu-dark"
						>
							<nav class="nav-main">

								<ul id="topMain" class="nav nav-pills nav-main nav-onepage">
									<li class="active">
										<!-- HOME -->
										<a href="/"> HOME </a>
									</li>
									<li class="dropdown"><!-- sERVICES -->
										<a class="dropdown-toggle" href="#">
											SERVICES
										</a>
										<ul class="dropdown-menu">
											<li class="dropdown">
												<a class="dropdown-toggle" href="commercial">
													COMMERCIAL
												</a>
											</li>
											<li class="dropdown">
												<a class="dropdown-toggle" href="residential">
													RESIDENTIAL
												</a>
											</li>
											<li class="dropdown">
												<a class="dropdown-toggle" href="form">
													REQUEST FOR QUOTE
												</a>
											</li>
										</ul>
									</li>

									<li>
										<!-- WORK -->
										<a href="/#work"> PORTFOLIO</a>
									</li>
									<li>
										<!-- NEWS -->
										<a href="/#news"> NEWS </a>
									</li>

									<li>
										<!-- CLIENTS -->
										<a href="/#clients"> CLIENTS </a>
									</li>

									<li>
										<!-- CONTACT -->
										<a href="#bottom" id="scrollBottom"> CONTACT </a>
									</li>
								</ul>
							</nav>
						</div>
					</div>
				</header>
				<!-- /Top Nav -->
			</div>