<!-- wrapper -->
<div class="container">
	<!-- CALLOUT -->
	<div class="callout alert alert-transparent b-0 rad-0 m-0 pt-60 pb-60 clearfix">
		<div class="text-center">
			<h3>Update the data warehouse and go to the charts page</h3>
			<a href="/warehouse-update" class="btn btn-primary btn-lg btn-round mt-30" >UPDATE DATA WAREHOUSE !</a>
			<p class="font-lato fs-20">It can take a few minutes...</p>
		</div>
	</div>
	<!-- /CALLOUT -->

	<!-- divider -->
	<div class="divider divider-center divider-color">
		<i class="fa fa-chevron-down"></i>
	</div>
	<!-- /divider -->
			
	<!-- CALLOUT -->
	<div class="callout alert alert-transparent b-0 rad-0 m-0 pt-60 pb-60 clearfix">
		<div class="text-center">
			<h3>Go to the charts page</h3>
			<a href="/chart" class="btn btn-primary btn-lg btn-round mt-30" >GO TO CHARTS !</a>
			<p class="font-lato fs-20">Just go to the charts page without upload the database</p>
		</div>
	</div>
	<!-- /CALLOUT -->			
</div>
<!-- /wrapper -->

<!-- SCROLL TO TOP -->
<a href="#" id="toTop"></a>
<!-- SCROLL TO BOTTOM -->
<a name="bottom"></a>