<section>
<div class="container">
	<header class="text-center">
		<h2 class="m-0">Residential Services</h2>
		<p class="font-lato fs-20 m-0">We truly care about our customers</p>
	</header>
	<hr />
	<p class="lead  text-justify">
		Take a look at some of the elevator projects that we have completed
		at Elevator Technologies. Whether you want a new elevator installed
		for your building or you need elevator repairs, we are the right
		team for the job. You can also rely on us for 24/7/365 emergency
		services! Call us today for a FREE estimate on our services.
	</p>

	<div class="divider divider-center divider-color">
		<!-- divider -->
		<i class="fa fa-chevron-down"></i>
	</div>
</div>

<div class="container">
	<div class="row">
		<!-- Team Member 1 -->
		<div class="col-xl-3 col-md-6 mb-4">
			<div class="card border-0 shadow">
				<img
					src="<%= asset_path( 'int06.jpg' ) %>"
					class="card-img-top"
					alt="..."
				/>
				<div class="card-body text-center">
					<h5 class="card-title mb-0">Modern design</h5>
					<div class="card-text text-black-50">SkyWalker model</div>
				</div>
			</div>
		</div>
		<!-- Team Member 2 -->
		<div class="col-xl-3 col-md-6 mb-4">
			<div class="card border-0 shadow">
				<img
					src="<%= asset_path( 'int05.jpg' ) %>"
					class="card-img-top"
					alt="..."
				/>
				<div class="card-body text-center">
					<h5 class="card-title mb-0">Customized design</h5>
					<div class="card-text text-black-50">Las Vegas Model</div>
				</div>
			</div>
		</div>
		<!-- Team Member 3 -->
		<div class="col-xl-3 col-md-6 mb-4">
			<div class="card border-0 shadow">
				<img
					src="<%= asset_path( 'int03.jpg' ) %>"
					class="card-img-top"
					alt="..."
				/>
				<div class="card-body text-center">
					<h5 class="card-title mb-0">Italian Design</h5>
					<div class="card-text text-black-50">Sunny Model</div>
				</div>
			</div>
		</div>
		<!-- Team Member 4 -->
		<div class="col-xl-3 col-md-6 mb-4">
			<div class="card border-0 shadow">
				<img
					src="<%= asset_path( 'int04.jpg' ) %>"
					class="card-img-top"
					alt="..."
				/>
				<div class="card-body text-center">
					<h5 class="card-title mb-0">French Model</h5>
					<div class="card-text text-black-50">Voila Model</div>
				</div>
			</div>
		</div>
	</div>
	<!-- /.row -->
</div>
</section>

<!-- old section -->
<section>
<div class="container">
	<header class="text-center">
		<h2 class="m-0">Residential Elevators</h2>
		<p class="font-lato fs-20 m-0">Best prices in the market</p>
	</header>

	<hr />

	<div class="container b-0">
		<div class="row">
			<div class="col-md-4 col-sm-4">
				<div class="price-clean">
					<h4><sup>$</sup>7565<em></em></h4>
					<h5>STARTER</h5>
					<hr />
					<p class="text-uppercase">Standard model</p>
					<hr />
					<a href="form" class="btn btn-3d btn-teal text-uppercase">Estimate My Project !</a>
				</div>
			</div>

			<div class="col-md-4 col-sm-4">
				<div class="price-clean price-clean-popular">
					<div class="ribbon">
						<div class="ribbon-inner">POPULAR</div>
					</div>
					<h4><sup>$</sup>12,345<em></em></h4>
					<h5>STARTER</h5>
					<hr />
					<p class="text-uppercase">Premium Model</p>
					<hr />
					<a href="form" class="btn btn-3d btn-primary text-uppercase">Estimate My Project !</a>
				</div>
			</div>

			<div class="col-md-4 col-sm-4">
				<div class="price-clean">
					<h4><sup>$</sup>15,400<em></em></h4>
					<h5>STARTER</h5>
					<hr />
					<p class="uppercase">Excelium model</p>
					<hr />
					<a href="form" class="btn btn-3d btn-teal text-uppercase">Estimate My Project!</a>
				</div>
			</div>
		</div>
	</div>
</div>
</section>

<section class:"bb-0"></section>
<div class="callout alert alert-transparent b-0 rad-0 m-0 pt-60 pb-60 clearfix">
	<div class="text-center">
		<h3>
			Call now at <span><strong> (581) 701-0303</strong></span> for more details!
		</h3>
		<p class="font-lato fs-20">
			We truly care about our users and our product.
		</p>

		<a
			href="/#contact"
			class="btn btn-primary btn-lg btn-round mt-30"
			>CONTACT US NOW</a
		>
	</div>
</div>
</section>
</div>

<!-- SCROLL TO TOP -->
<a href="#" id="toTop"></a>
</body>
</html>
<!-- SCROLL TO BOTTOM -->
	<a name="bottom"></a>
