<!-- wrapper -->
<div class="container">
	<header class="text-center pt-60 pb-60 ">
		<h2 class="m-0">Thank you for your contact</h2>
		<p class="font-lato fs-20 m-0">Our team will contact you soon !</p>
	</header>

	<!-- divider -->
	<div class="divider divider-center divider-color">
		<i class="fa fa-chevron-down"></i>
	</div>
	<!-- /divider -->
			
	<!-- CALLOUT -->
	<div class="callout alert alert-transparent b-0 rad-0 m-0 pt-60 pb-60 clearfix">
		<div class="text-center">
			<h3>Call now at <span><strong> (581) 701-0303</strong></span> and get 15% discount!</h3>
			<p class="font-lato fs-20">We truly care about our users and our product.</p>
			<a href="/form" class="btn btn-primary btn-lg btn-round mt-30" >GET A QUOTE</a>
		</div>
	</div>
	<!-- /CALLOUT -->			
</div>
<!-- /wrapper -->

<!-- SCROLL TO TOP -->
<a href="#" id="toTop"></a>
<!-- SCROLL TO BOTTOM -->
<a name="bottom"></a>